[Unit]
Description=OpenVPN Data Sync Timer
Documentation=https://github.com/yourorg/openvpn-logserver

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min
AccuracySec=1s

[Install]
WantedBy=timers.target
